extends ../layout


block content
  h2 Order
  hr
  .containerr
    .col-sm-4
        button
          | talk..
          span is Cool.
    .col-sm-4
        button
          | work..
          span is Cool.
    .col-sm-4
        button
          | sleep..
          span is Cool.
    .col-sm-4
        button
          | I am..
          span Cool.
